.clear{
  background-image: url('./images/clear.jpg');
}

.rain{
  background-image: url('./images/rain.jpg');
}

.clouds{
  background-image: url('./images/clouds.jpg');
}

.snow{
  background-image: url('./images/snow.jpg');
}
.drizzle{
  background-image: url('./images/rain.jpg');
}
.fog{
  background-image: url('./images/fog.jpg');
}
.thunderstorm{
  background-image: url('./images/rain.jpg');
}


body{
  font-family: 'Trebuchet MS';
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  height: 100vh;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  background-position: center;
  background-size: cover;
}

h1{
  font-size: 3em;
  position: relative;
}

i.wi{
  font-size: 5em;
  line-height: 3em;
}

h2{
  font-size: 2em;
}

.tooltip{
  opacity: 0;
  top: 0px;
  position: absolute;
  left: 10px;
  color: #fff;
  background-color: #222;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  transition: opacity .3s, top .5s;
}

h1:hover .tooltip{
  top: -50px;
  opacity: 1;
}
